@use './mixins' as mixins;
/* Fonts */

@font-face {
  font-family: 'ProbaPro';
  src: url('./../fonts/ProbaPro-Bold.woff2') format('woff2');
  src: url('./../fonts/ProbaPro-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'ProbaPro';
  src: url('./../fonts/ProbaPro-SemiBold.woff2') format('woff2');
  src: url('./../fonts/ProbaPro-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'ProbaPro';
  src: url('./../fonts/ProbaPro-Medium.woff2') format('woff2');
  src: url('./../fonts/ProbaPro-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'ProbaPro';
  src: url('./../fonts/ProbaPro-Regular.woff2') format('woff2');
  src: url('./../fonts/ProbaPro-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'ProbaPro';
  src: url('./../fonts/ProbaPro-Light.woff2') format('woff2');
  src: url('./../fonts/ProbaPro-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'ProbaPro';
  src: url('./../fonts/ProbaPro-Thin.woff2') format('woff2');
  src: url('./../fonts/ProbaPro-Thin.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'ProbaPro', 'Segoe UI', 'Helvetica Neue', Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 95%;
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 25px;
}

.only-mobile {
  display: block;
  max-width: 100%;
  padding-left: 9px;
  overflow: visible;
}
.only-desktop {
  display: none;
}

@media (min-width: 1025px) {
  .only-mobile {
    display: none !important;
  }
  .only-desktop {
    display: block !important;
  }
}

@media (max-width: 560px) {
  .container {
    width: 100%;
    padding: 0 15px;
  }
}

.primaryBtn {
  @include mixins.btnSettings;
  height: fit-content;
  position: relative;
  min-width: 200px;
  padding: 15px 60px;
  font-size: 20px;
  color: #ffff;
  border: 2px solid #618135;
  background-color: #618135;
  span {
    position: relative;
    &::after {
      content: '';
      position: absolute;
      left: 50%;
      width: 0;
      top: 20px;
      height: 1px;
      border-radius: 50%;
      transition: all 0.3s ease;
      transform: translateX(-50%);
      transform-origin: top;
      background-color: #fff;
    }
  }
  &:hover,
  &:focus {
    background-color: #72a62b;
    border: 2px solid #72a62b;
    span::after {
      width: 100%;
    }
  }
  &:active {
    background-color: #517322;
    border: 2px solid #618135;
    span::after {
      transform: scaleX(0);
      width: 0;
    }
  }
}
