@use '../mixins' as mixins;

.footer {
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 30%;
  background-image: image-set(
    url('../../img/footerbg.webp') 1x,
    url('../../img/footerbgretina.webp') 2x
  );

  .copyrightWrapper {
    background-color: var(--green);
    width: 100%;
    padding: var(--space-2) 0;
    margin-top: 50px;

    .copyrightContainer {
      @include mixins.flex;
    }

    .privacyFilePicker {
      position: relative;
      display: flex;
      gap: 20px;
      align-items: center;
      &::after {
        content: '|';
        position: absolute;
        color: white;
        right: 129px;
      }
    }

    .changeCookies {
      background-color: transparent;
      border: none;
      cursor: pointer;
    }

    .copyright {
      color: #fff;
      font-size: 14px;
      font-weight: 400;
    }
  }
  .footerInfo {
    @include mixins.flex;
    align-items: flex-start;
    width: 65%;
    padding: 35px 0 15px 0;
  }
  .footerText {
    width: 35%;
    font-size: var(--space-3);
    color: #fff;
    font-weight: 500;
    line-height: 132%;
    font-style: italic;
  }
}

.footerSubtitle {
  font-size: var(--space-3);
  font-weight: 700;
  color: #fff;
  position: relative;
  margin-bottom: 35px;

  &::before {
    content: '';
    position: absolute;
    width: 44px;
    height: 2px;
    background-color: #fff;
    top: 30px;
  }
}

.contact {
  .contactInfo {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: var(--space-3);
    font-weight: 400;
    color: #fff;
    margin: 0 0 10px 0;
  }

  .emailLink {
    display: flex;
    align-items: center;
    gap: 7px;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease;

    &:hover,
    &:focus {
      color: #b2b2b2;
    }
  }
}

.iconList {
  display: flex;
  gap: 15px;

  li {
    list-style: none;

    a {
      text-decoration: none;
      display: flex;
    }
  }
}

.locationIcon,
.mailLinkIcon {
  width: 19px;
  height: 19px;
  fill: #fff;
}

.mailLinkIcon:hover,
.mailLinkIcon:focus {
  fill: #b2b2b2;
}

.socialIconLink {
  transition: all 0.3s ease;
  width: 45px;
  height: 46px;
  border-radius: 50%;
  color: #fff;

  .icon {
    transition: all 0.3s ease;
    fill: currentColor;
  }

  &:hover,
  &:focus .icon {
    color: #b2b2b2;
  }
}

// Media Queries
@media (min-width: 2000px) {
  .footer {
    background-image: image-set(
      url('../../img/footerBg2000.webp') 1x,
      url('../../img/footerBg2000Ret.webp') 2x
    );
  }
}

@media (max-width: 1200px) {
  .footer {
    .footerInfo {
      width: 75%;
    }
  }
}

@media (max-width: 1000px) {
  .footer {
    .footerInfo {
      width: 77%;
    }

    .footerText {
      font-size: var(--size);
    }

    .copyright {
      font-size: var(--size);
    }

    .contactInfo {
      font-size: var(--size);
    }
  }
}

@media (max-width: 910px) {
  .footer {
    min-height: 663px;
    background-position-x: 91%;
    .respFooterWrapper {
      @include mixins.column;
      min-height: inherit;
      justify-content: space-between;
    }

    .footerInfo {
      width: 100%;
      padding: 35px 0 50px 0;
      flex-direction: column;
    }
    .footerText {
      font-size: 22px;
      width: 55%;
    }

    .copyrightWrapper {
      padding: 30px 0;
    }

    .copyrightWrapper .terms,
    .copyrightWrapper .copyright {
      font-size: 14px;
    }

    .footerSubtitle {
      font-size: 20px;
      margin: 44px 0 35px 0;
    }

    .contactInfo,
    .emailLink {
      font-size: var(--space-3);
    }

    .iconList {
      margin-top: 22px;
      gap: var(--space-5);
    }
  }
}

@media (max-width: 755px) {
  .footer {
    background-image: image-set(
      url('../../img/footerMobile.webp') 1x,
      url('../../img/footerMobileRetina.webp') 2x
    );
    background-position-y: 65%;
  }
}

@media (max-width: 680px) {
  .footer {
    .footerText {
      width: 70%;
    }
    .copyrightWrapper {
      padding: 15px 0 0 0;
      .privacyFilePicker {
        flex-direction: column;
        gap: 10px;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
        &::after {
          display: none;
        }
      }
    }

    .copyrightContainer {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 10px;
    }

    .copyrightWrapper .terms {
      order: 1;
    }

    .copyrightWrapper .changeCookies {
      order: 2;
    }

    .copyrightWrapper .copyright {
      order: 2;
      width: 100%;
    }
  }
}

@media (max-width: 540px) {
  .footer {
    padding-bottom: 15px;
    background-position-y: 90%;

    .footerText {
      width: 100%;
      font-size: var(--space-3);
    }
  }

  .footerSubtitle {
    font-size: var(--space-3);
    margin: 44px 0 var(--space-2) 0;
  }

  .footerSubtitle::before {
    display: none;
  }

  .hiddenTitle {
    display: none;
  }

  .contactInfo,
  .emailLink {
    font-size: var(--size);
  }
}
