@use '../mixins' as mixins;

header {
  z-index: 999;
  position: fixed;
  top: 0;
  width: 100%;
  .headerWrapper {
    padding-top: 35px;
    @include mixins.flex;
    .logo {
      display: flex;
      align-items: center;
      gap: 6px;
      width: 175px;
      transition: all 1s ease;
      &:hover .computerLight,
      &:focus-visible .computerLight {
        -webkit-animation: blink-1 0.6s both;
        animation: blink-1 0.6s both;
      }
      .logoIcon {
        width: 63px;
        height: 63px;
      }
      .logoText {
        width: 95px;
        height: 38px;
      }
    }
  }
}

@media (max-width: 560px) {
  header {
    .headerWrapper {
      .buyCourseBtn {
        padding: 14px 49px;
        font-size: 18px;
        min-width: 163px;
      }
      .logo {
        width: 141px;
        height: 52px;
        .logoIcon {
          width: 52px;
          height: 52px;
        }
        .logoText {
          height: 52px;
        }
      }
    }
  }
}
@media (max-width: 370px) {
  header {
    .headerWrapper {
      .buyCourseBtn {
        padding: 12px 36px;
        font-size: 18px;
        min-width: 150px;
      }
    }
  }
}
