@use '../mixins' as mixins;

header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 996;
  transition: all 1s ease;

  &.headerFixed {
    position: fixed;
    background-color: white;
    box-shadow: var(--shadow);
    z-index: 996;

    .headerWrapper {
      padding: 19px 25px;
      .headerBtn {
        opacity: 1;
      }
    }
  }

  .headerWrapper {
    padding-top: 35px;
    transition: all 1s ease;
    @include mixins.flex;

    .logo {
      display: flex;
      align-items: center;
      gap: 6px;
      width: 175px;

      &:hover .computerLight,
      &:focus-visible .computerLight {
        -webkit-animation: blink-1 0.6s both;
        animation: blink-1 0.6s both;
      }

      .logoIcon {
        width: 63px;
        height: 63px;
      }

      .logoText {
        width: 95px;
        height: 38px;
      }
    }

    .headerBtn {
      padding: 19px 72px;
      opacity: 0;
    }
  }
}

/* Media Queries */

@media (max-width: 1024px) {
  header {
    .headerWrapper {
      .logo {
        position: absolute;
        top: 19px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    &.headerFixed {
      .headerWrapper {
        .logo {
          position: static;
          transform: translateX(0);
        }
      }
    }
  }
}

@media (max-width: 560px) {
  header {
    .headerWrapper {
      .headerBtn {
        padding: 14px 49px;
        font-size: var(--space-3);
      }

      .logo {
        width: 141px;
        height: 52px;
        left: 45%;
        transform: translateX(-45%);

        .logoIcon {
          width: 52px;
          height: 52px;
        }
      }
    }
    &.headerFixed {
      .headerWrapper {
        padding: 19px 15px;
      }
    }
  }
}
