.projectStats {
  padding: 86px 0 140px 0;
  background-image: image-set(
    url('../../img/projectStatsBG.webp') 1x,
    url('../../img/projectStatsBGRetina.webp') 2x
  );
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .stats-cta {
    display: flex;
    justify-content: space-between;
    h2 {
      font-size: 36px;
      margin-bottom: 15px;
      font-weight: 600;
    }
  }
  p {
    font-size: 18px;
    font-weight: 400;
    color: #484747;
  }
  .statsList {
    width: 100%;
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 34px;
    margin-top: 32px;
    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
      width: 33%;
      background-color: #fff;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
      h3 {
        margin: 0;
        font-size: 48px;
        font-weight: 700;
        margin-bottom: 24px;
        small {
          font-size: 34px;
        }
      }
      p {
        color: #618135;
        font-size: 18px;
        font-weight: 700;
      }
    }
    hr {
      width: 90%;
      background-color: #e5e5e5;
      text-align: center;
      display: none;
    }
  }
}

@media (max-width: 1020px) {
  .projectStats {
    background: white;
    h2 {
      text-align: center;
      margin-bottom: 14px;
    }
    p {
      text-align: center;
      margin-bottom: 14px;
    }
    .stats-cta {
      flex-direction: column;
      align-items: center;
    }
    .statsList {
      flex-direction: column;
      align-items: center;
      gap: 0;
      border-radius: 10px;
      background: #fff;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
      li {
        width: 100%;
        box-shadow: none;
        border-radius: 10px;
      }
      hr {
        display: block;
        width: 90%;
      }
    }
  }
}

@media (max-width: 768px) {
  .projectStats {
    .statsList {
      margin-top: 28px;
      li {
        width: 100%;
        p {
          text-align: left;
        }
      }
    }
  }
}

@media (max-width: 550px) {
  .projectStats {
    .stats-cta {
      h2 {
        font-size: 30px;
      }
    }
  }
}

@media (max-width: 360px) {
  .projectStats {
    .statsList {
      li {
        p {
          width: 85%;
        }
      }
    }
  }
}
