.projectSupport {
  background-image: image-set(
    url('../../img/supportVector1.webp') 1x,
    url('../../img/supportVector1Retina.webp') 3x
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 0 200px 0;
  h2 {
    font-size: 36px;
    font-weight: 600;
    line-height: 130%;
    width: 100%;
    text-align: center;
  }
  .supportGreenTitle {
    display: block;
    color: #618135;
  }
}
.supportList {
  width: 100%;
  margin-top: 34px;
  list-style-type: none;
  display: flex;
  gap: 34px;
  justify-content: center;
  li {
    width: 33%;
    h3 {
      font-size: 24px;
      font-weight: 600;
      margin: 28px 0 24px 0;
    }
    p {
      line-height: 130%;
      width: 100%;
      font-size: 18px;
      font-weight: 400;
    }
    .block {
      display: block;
    }
    strong {
      font-weight: 600;
    }
  }
}

.projectSupport__slider {
  margin-top: 16px;
  .splide__slide {
    width: 100%;
    margin: 28px 0 28px 6px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    padding: 16px;
    border-radius: 10px;
    text-align: left;
  }
  .splide__slide h3 {
    margin: 28px 0 24px 0;
    font-size: 24px;
    line-height: 1.2;
  }
  .splide__slide p {
    font-size: 18px;
    line-height: 1.5;
  }
}

@media (max-width: 1024px) {
  .projectSupport {
    padding: 70px 0;
    background: white;
  }
  .supportList {
    li {
      h3 {
        font-weight: 700;
      }
    }
  }
}

@media (max-width: 768px) {
  .projectSupport {
    h2 {
      font-size: 30px;
    }
  }
}

@media (max-width: 365px) {
  .projectSupport {
    h2 {
      font-size: 25px;
    }
  }
}
