@use '../mixins' as mixins;

.projectSupport {
  @include mixins.column;
  justify-content: center;
  align-items: center;
  padding: 100px 0 200px 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: image-set(
    url('../../img/supportBg.webp') 1x,
    url('../../img/supportRetinaBg.webp') 2x
  );

  h2 {
    font-size: 36px;
    font-weight: 600;
    line-height: 130%;
    width: 100%;
    text-align: center;
    opacity: 0;
  }

  .supportGreenTitle {
    display: block;
    color: var(--green);
    opacity: 0;
  }

  .supportList {
    width: 100%;
    margin-top: var(--gap);
    list-style: none;
    display: flex;
    gap: var(--gap);
    justify-content: center;
    opacity: 0;

    li {
      width: 32%;
      h3 {
        font-size: var(--space-4);
        font-weight: 600;
        margin: var(--space-5) 0 var(--space-4) 0;
      }

      p {
        line-height: 130%;
        width: 100%;
        font-size: var(--space-3);
        font-weight: 400;
      }

      .block {
        display: block;
      }

      strong {
        font-weight: 600;
      }
    }
  }

  &.animated {
    h2 {
      animation: fadeInUp 1.1s ease-out forwards;
      opacity: 1;
    }

    .supportGreenTitle {
      animation: fadeInUp 1.1s ease-out forwards;
      opacity: 1;
    }

    .supportList li {
      animation: fadeInUp 1.1s ease-out forwards;
      opacity: 1;
    }

    .supportList {
      opacity: 1;
    }
  }
}

.projectSupport__slider {
  margin-top: var(--size);

  .splide__slide {
    width: 100%;
    margin: var(--space-5) 0 var(--space-5) 6px;
    box-shadow: var(--shadow);
    padding: var(--size);
    border-radius: var(--radius-sm);
    text-align: left;

    h3 {
      margin: var(--space-5) 0 var(--space-4) 0;
      font-size: var(--space-4);
      line-height: 1.2;
    }

    p {
      font-size: var(--space-3);
      line-height: 1.5;
    }
  }
}

// Media Queries
@media (max-width: 1024px) {
  .projectSupport {
    padding: 70px 0;
    background: white;
  }

  .supportList li h3 {
    font-weight: 700;
  }
}

@media (max-width: 768px) {
  .projectSupport h2 {
    font-size: 30px;
  }
}

@media (max-width: 365px) {
  .projectSupport h2 {
    font-size: 25px;
  }
}
