@use '../mixins.scss' as mixins;

.skills {
  width: 100%;
  background-color: #f7f5ec;

  h2 {
    text-align: center;
    font-size: 36px;
    font-weight: 600;
  }

  .skillsList {
    padding: var(--gap) 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--gap);

    li {
      width: 31%;
      list-style: none;

      h3 {
        font-size: var(--space-4);
        font-weight: 600;
        line-height: 141%;
        margin: var(--space-5) 0 var(--space-4) 0;
      }

      p {
        font-size: var(--space-3);
        font-weight: 400;
        line-height: 141%;
      }
    }
  }
}

// Media Queries
@media (max-width: 1024px) {
  .skills {
    background-color: #fff;
  }
}

@media (max-width: 768px) {
  .skills h2 {
    font-size: 30px;
  }

  .splide__slide p {
    font-size: var(--size);
  }
}
