.video {
  display: flex;
  justify-content: center;
  padding: 146px 0 100px 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: image-set(
    url('../../img/videoBg.webp') 1x,
    url('../../img/videoBgRetina.webp') 2x
  );

  iframe {
    box-shadow: var(--shadow);
    opacity: 0;
  }

  &.animated {
    iframe {
      animation: slideCenter 1s ease-out forwards;
      opacity: 1;
    }
  }
}

@media (min-width: 4000px) {
  .video {
    background-size: cover;
  }
}

@media (max-width: 1024px) {
  .video {
    padding: 70px 0 70px 0;
    background: white;

    iframe {
      width: 100%;
    }
  }
}

@media (max-width: 550px) {
  .video {
    iframe {
      height: 283px;
    }
  }
}
